/* 
    Document   : controlStyle2
    From: https://docs.oracle.com/javafx/2/css_tutorial/controlStyle2.css.htm
*/

.root{
    -fx-font-size: 10pt;
}

.button{

}

.borders{

}

.statsBoard{
    -fx-padding: 4 4 4 4;
    -fx-border-width: 1;
}