.root{
    -fx-font-size: 10pt;
    -fx-font-family: Arial;
}

.button{

}

.borders{

}

.HUD {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 1;
}

.HUD: hover {
    
}

.GameWorld: hover {
    
}

.ControlDockButton {

}

.Store {

}

.header-2 {
	-fx-font-size: 18pt;
	-fx-font-family: Arial;
	-fx-text-fill: rgb(255,255,255);
	-fx-background-color: rgb(96, 96, 96);	
}

.store-pane {
	-fx-background-color: rgb(140,140,140);
}