.root{
    -fx-font-size: 10pt;
    -fx-font-family: Arial;
}

.button{

}

.borders{

}

.ControlDockButton {

}

.GameWorld {
    
}

.HUD {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 1;
}

.HUD-hover {
    
}

.GameWorld-hover {
    
}
   
.Store {

}

.VoogaMenuBar {

}

.header-2 {
	-fx-font-size: 18pt;
	-fx-font-family: Arial;
	-fx-text-fill: rgb(255,255,255);
	-fx-background-color: rgb(96, 96, 96);	
}

.store-pane {
	-fx-background-color: rgb(140,140,140);
}

#range-button {
	-fx-background-color: rgb(102,178,255);
}

#sell-button {
	-fx-background-color: rgb(255,51,51);
}

#damage-button {
	-fx-background-color: rgb(102,255,102);
}