.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
}

.button{
    -fx-font-size: 30pt;
    -fx-opacity: 0.8;
}

.borders{

}

.ControlDockButton {

}

.MainSplashScreen {
   -fx-background-color: blue;
}

.gameChooserTilePane {
   -fx-tile-alignment: center;
   -fx-pref-columns: 3;
   -fx-hgap: 8;
   -fx-padding: 5,5,5,5;
}

.gameImage {
   -fx-opacity: 0.9;
}

.gameImage:hover {
   -fx-opacity: 1.0;
}

.gameDescriptionLabel {
    -fx-font-size: 10pt;
}

.OpponentWaitingLabel {
    -fx-font-size: 27pt;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.LMConnectBox {
	-fx-font-size: 10pt;
	-fx-font-family: Arial;
	-fx-text-fill: White;
}

.LMConnectButton {
	-fx-opacity: 1;
}