.buildScreen {
	-fx-background-color: white;
}

.pathComponentOption {
	-fx-background-color: white;
}

.selected {
	-fx-background-color: LightGreen;
}

.border {
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}

.visible {
	-fx-background-color: blue;
}

.invisible {
	-fx-background-color: gray;
}