.dragAndDrop {
	-fx-background-color: white;
}

.removeActorLabel {
	-fx-text-fill: red;
	-fx-font-size: 22px;
}

.borderedPane {
	-fx-background-color: white;
        -fx-border: 2px; 
	-fx-border-color: gray;
        -fx-border-radius: 5px;
}

